.input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.input-input {
  font-size: 14px;
  font-weight: 200;
  color: var(--secondaryTextColor);
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--borderColor);
  transition: border-color var(--transitionOptions);
}

.input-input:focus,
.input-input:hover,
.input-input:active {
  outline: none;
  border-bottom-color: var(--accentColor);
}

.input-error .input-input {
  border-bottom-color: var(--alarmColor);
}

.input-label {
  font-size: 14px;
  margin-bottom: 8px;
}

.input-error-message {
  position: absolute;
  left: 0;
  bottom: -10px;
  font-size: 12px;
  font-weight: 200;
  color: var(--alarmColor);
}
